<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display emp table</title>
</head>
<body>
    <center>
        <table border="3px">
            <tr>
                
                <th>Emp_no</th>
                <th>ENAME</th>
                <th>JOB</th>
                <th>MGR</th>
                <th>HIREDATE</th>
                <th>SAL</th>
                <th>COMM</th>
                <th>DEPTNO</th>
            </tr>
            {% for eo in QELO %}
                <tr>
                    
                    <td>{{eo.Emp_no}}</td>
                    <td>{{eo.ENAME}}</td>
                    <td>{{eo.JOB}}</td>
                    <td>{{eo.MGR}}</td>
                    <td>{{eo.HIREDATE}}</td>
                    <td>{{eo.SAL}}</td>
                    <td>{{eo.COMM}}</td>
                    <td>{{eo.DEPTNO}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>